In [634]:
import pandas as pd
import numpy as np

In [635]:
df = pd.read_csv('TG_STAID002759.txt',sep=",", skiprows=19,  index_col=1, header=0, parse_dates=True)

In [636]:
df = df.rename(columns=lambda x: x.strip())   # remove white spaces in the column names

In [637]:
# 01-06 SOUID: Source identifier
# 08-15 DATE : Date YYYYMMDD
# 17-21 TG   : mean temperature in 0.1 &#176;C
# 23-27 Q_TG : Quality code for TG (0='valid'; 1='suspect'; 9='missing'

In [638]:
df['meanT'] = df['TG']*0.1                    # give back the comma to the temperature numbers

In [639]:
df.drop(df.head(25567).index, inplace=True)   # remove all the data up untill 1946

In [640]:
df.drop(df[['SOUID', 'Q_TG', 'TG']], axis =1, inplace = True)    # drop the useless columns

In [641]:
df

            meanT
    DATE
1946-01-01   -3.4
1946-01-02   -3.0
1946-01-03   -2.8
1946-01-04   -2.7
1946-01-05    1.4
...           ...
2021-03-27    6.9
2021-03-28    7.7
2021-03-29   14.4
2021-03-30   14.9
2021-03-31   15.4

[27484 rows x 1 columns]

In [643]:
df.to_csv('data7.csv')