# NMF (Non-Negative Matrix Factorization)

---

## 0) Imports and Loading Data

In [1]:
import pandas as pd
import numpy as np
from sklearn.decomposition import NMF

In [2]:
R = pd.read_csv('movie_ratings_sages.csv', index_col=0)
R.head()

,Night on Earth,Waltz with Bashir,Parasite,Birds of Prey,Cinema Paradiso,Beasts of the Southern Wild,Harold and Maude,What's Eating Gilbert Grape,American Psycho,Stalker,Ex Machina,Forrest Gump,Before Sunrise,The Constant Gardener
user,,,,,,,,,,,,,,
Stefan,5.0,5.0,4.0,NaN,NaN,NaN,NaN,NaN,3.0,5.0,NaN,3.0,NaN,NaN
Eeva,NaN,5.0,NaN,NaN,NaN,NaN,NaN,3.5,3.5,NaN,NaN,3.0,NaN,NaN
Anders,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,4.0,NaN,NaN
Miriam,NaN,NaN,NaN,5.0,3.0,5.0,NaN,2.0,NaN,NaN,NaN,2.0,NaN,NaN
Tatiana,NaN,NaN,5.0,NaN,5.0,NaN,NaN,NaN,3.0,NaN,NaN,4.0,NaN,4.0

In [3]:
R.shape

(15, 14)

---

## 1) Train NMF
* Small n_components = ...
* High n_components = ...

In [22]:
# Instantiate the nmf
nmf = ...

In [23]:
# As usual with scikit-learn Classes, we fit the nmf

## 3) Inspect the sub-matrices

In [26]:
# Extract Q
Q = ...
Q # Q should have a shape of ???

Ellipsis

In [25]:
# Make a DataFrame out of Q
Q = ...

In [27]:
# Calculate P
P = ...
P # We expect a shape of ???

Ellipsis

In [28]:
# Make a DataFrame out of P

In [29]:
# Look at the reconstruction error
...

## 3) Reconstruct the original matrix

In [30]:
# Look at the original matrix R
R.head()

,Night on Earth,Waltz with Bashir,Parasite,Birds of Prey,Cinema Paradiso,Beasts of the Southern Wild,Harold and Maude,What's Eating Gilbert Grape,American Psycho,Stalker,Ex Machina,Forrest Gump,Before Sunrise,The Constant Gardener
user,,,,,,,,,,,,,,
Stefan,5.0,5.0,4.0,NaN,NaN,NaN,NaN,NaN,3.0,5.0,NaN,3.0,NaN,NaN
Eeva,NaN,5.0,NaN,NaN,NaN,NaN,NaN,3.5,3.5,NaN,NaN,3.0,NaN,NaN
Anders,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,4.0,NaN,NaN
Miriam,NaN,NaN,NaN,5.0,3.0,5.0,NaN,2.0,NaN,NaN,NaN,2.0,NaN,NaN
Tatiana,NaN,NaN,5.0,NaN,5.0,NaN,NaN,NaN,3.0,NaN,NaN,4.0,NaN,4.0

In [31]:
# Calculate R_hat
...

---

## 4) Make a prediction based on new user input

In [32]:
# Create a dictionary for a new user
new_user_input = ...

In [33]:
# Convert it to a pd.DataFrame
new_user = ...

In [34]:
#Prediction step 1 - generate user_P 
user_P = ...
user_P

Ellipsis

In [35]:
#new user R - reconstruct R but for this new user only
user_R = ...
user_R

Ellipsis

In [36]:
# Remove movies that have already been seen
recommendations = ...
recommendations

Ellipsis

In [38]:
# Sort the recomendations
...

---

# Next steps 
* download 100k movie lense dataset - all the data you'll need is in `ratings.csv`
* work out a way to create a matrix with rows=users, columns=movies, values in the matrix= user_rating a for movie_id=1 etc
* FOLLOW the steps in this notebook to create a trained NMF able to make predictions

In [44]:
df = pd.read_csv('data/ml-latest-small/ratings.csv')
df.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [45]:
df = df.pivot(index='userId', columns='movieId', values='rating')
df.head()

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,NaN,4.0,NaN,NaN,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
nmf = CustomNMF(n_components=20, max_iter=1000)

In [47]:
nmf.fit(df)

CustomNMF(init='custom', max_iter=1000, n_components=20)

In [51]:
R_hat = pd.DataFrame(np.matmul(nmf.transform(df), nmf.components_), index=df.index, 
                     columns=df.columns)
R_hat.head()

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.393755,3.853129,3.974564,3.282323,3.776938,4.425858,3.480434,2.792756,3.317235,3.210888,...,8.187992,6.276986,10.882103,8.296602,8.459757,6.646151,6.806266,8.212906,10.297230,7.848031
2,4.433027,4.134745,3.433848,3.678940,2.730750,4.101010,2.421196,4.325857,3.020504,3.571545,...,8.193509,6.582610,10.555463,6.888343,8.606697,7.038115,8.502778,8.194300,9.756325,8.331491
3,4.482803,4.278543,4.206731,2.758911,3.160973,4.608350,2.506958,4.540047,3.338787,3.776915,...,8.955538,5.779637,10.803156,7.317282,8.793923,7.459141,8.100612,8.036838,11.050949,8.250714
4,4.030187,3.472325,3.096790,3.401505,3.229860,3.713642,3.982050,3.955376,3.120485,3.281479,...,8.119157,6.453180,10.069947,7.079203,7.924479,6.985969,7.109134,8.082756,9.558780,7.305635
5,3.870107,4.333968,3.931204,3.637118,2.879883,4.137554,3.151469,4.449680,3.612646,3.961133,...,7.961864,6.401247,10.182767,7.150616,8.192223,7.180984,8.424355,8.446672,9.872548,8.498890

## Save the data into a database

In [85]:
original_df = pd.read_csv('data/ml-latest/ratings.csv')

In [86]:
original_df.userId.unique()

array([     1,      2,      3, ..., 283226, 283227, 283228])

In [87]:
pivoted_df = pd.DataFrame()
chunksize = 100000
for chunk in pd.read_csv('data/ml-latest/ratings.csv', chunksize=chunksize):
    #print(chunk.pivot(index='userId', columns='movieId', values='rating'))
    pivoted_df = pivoted_df.append(chunk.pivot(index='userId', columns='movieId', values='rating'))

KeyboardInterrupt:

In [ ]:
pivoted_df.head()

In [88]:
import dask